<div class="row">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-10">
    <p align="right">
      <%= link_to "New Question", new_question_path, class: "btn btn-primary" %>
    </p>
    <table class="table table-bordered" align="center">
        <thead>
            <tr>
                <th width="50">ID</th>
                <th>Question content</th>
                <th width="60">Edit</th>
                <th width="60">Delete</th>
            </tr>
        </thead>
        <tbody>
        		<% if defined? @questions %>
        		<% @questions.each do |q| %>
            <tr>
                <td><%= q.id %></td>
                <td><%= q.content %></td>
                <td><%= link_to "Edit", edit_question_path(q) %></td>
                <td><%= link_to "Delete", question_path(q),  method: :delete,
                                 data: { confirm: "You sure?" } %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
  <div class="col-md-1">&nbsp;</div>
</div>