<table class="table table-bordered"> 
  <%= form_for [:admin, @category] do |f| %>
  <div>
    <%= render "shared/error", object: f.object %>
  </div>
  <tr>
    <td class="field-label col-xs-3 active">
      <%= f.label "Category Name" %>
    </td>
    <td class="col-md-9">
      <%= f.text_field :name, class: "form-control" %>
    </td>
  </tr>
  <p class="pull-right">
    <%= f.submit %>
  </p>
  <% end %>
</table>